# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KYRIA_REV3_DONGLE

config ZMK_KEYBOARD_NAME
	default "Kyria Dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_KYRIA_REV3_LEFT || SHIELD_KYRIA_REV3_RIGHT || SHIELD_KYRIA_REV3_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif
