#define ALP 0
#define NUM 1
#define NAV 2
#define FUN 3

#define MOD_MORPH(bind1, bind2) \
	compatible = "zmk,behavior-mod-morph"; \
	#binding-cells = <0>; \
	mods = <(MOD_LSFT|MOD_RSFT)>; \
	bindings = <bind1>, <bind2>;

#define HOLD_TAP(tap, hold) \
	compatible = "zmk,behavior-hold-tap"; \
	flavor = "balanced"; \
	bindings = <tap>, <hold>; \
	#binding-cells = <2>; \
	tapping-term-ms = <280>;

#define HOME_ROW \
	hold-trigger-on-release; \
	quick-tap-ms = <175>; \
	require-prior-idle-ms = <250>; \

#define COMBO(name, bind, keypos) \
	combo_ ## name { \
		timeout-ms = <50>; \
		bindings = <bind>; \
		key-positions = <keypos>; \
	};

&num_word {
	continue-list = <BSPC DEL DOT COMMA>;
};

&lt {
	tapping-term-ms = <300>;
	flavor = "hold-preferred";
};

/ {
	behaviors {
		bc_del: bc_del { label = "BC_DEL"; MOD_MORPH(&kp BSPC, &kp DEL) };
		lpar_lt: lpar_lt { label = "LPAR_LT"; MOD_MORPH(&kp LPAR, &kp LT) };
		rpar_gt: rpar_gt { label = "RPAR_GT"; MOD_MORPH(&kp RPAR, &kp GT) };
		comma_semi: comma_semi { label = "COMMA_SEMI"; MOD_MORPH(&kp COMMA, &kp SEMI) };
		dot_colon: dot_colon { label = "DOT_COLON"; MOD_MORPH(&kp DOT, &kp COLON) };

		td_num: td_num {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&num_word NUM>, <&sl NUM>;
		};

		lt_num: lt_num {
			label = "LT_NUM";
			HOLD_TAP(&mo, &td_num)
		};

		l_tap: l_tap {
			label = "L_TAP";
			HOLD_TAP(&mo, &to)
		};

		hml: hml { label = "HML"; hold-trigger-key-positions = <KEYS_R THUMBS>; HOME_ROW HOLD_TAP(&kp, &kp) };
		hmr: hmr { label = "HMR"; hold-trigger-key-positions = <KEYS_L THUMBS>; HOME_ROW HOLD_TAP(&kp, &kp) };
		hr_combo_lpar: hr_combo_lpar { hold-trigger-key-positions = <KEYS_L THUMBS>; HOME_ROW HOLD_TAP(&kp, &lpar_lt) };
		hr_combo_rpar: hr_combo_rpar { hold-trigger-key-positions = <KEYS_L THUMBS>; HOME_ROW HOLD_TAP(&kp, &rpar_gt) };
	};

	combos {
		compatible = "zmk,combos";
		COMBO(excl, &kp EXCL, LT4 LM4)
		COMBO(at, &kp AT, LT3 LM3)
		COMBO(hash, &kp HASH, LT2 LM2)
		COMBO(dllr, &kp DLLR, LT1 LM1)
		COMBO(prcnt, &kp PRCNT, LT0 LM0)
		COMBO(caret, &kp CARET, RT0 RM0)
		COMBO(plus, &kp PLUS, RT1 RM1)
		COMBO(astrk, &kp ASTRK, RT2 RM2)
		COMBO(amps, &kp AMPS, RT3 RM3)
		COMBO(fslh, &kp FSLH, RM2 RB2)
		COMBO(pipe, &kp PIPE, RM3 RB3)
		COMBO(lbkt, &kp LBKT, RB1 RB2)
		COMBO(rbkt, &kp RBKT, RB2 RB3)
		COMBO(dash, &kp MINUS, RM1 RB1)
		COMBO(equal, &kp EQUAL, LM1 LB1)
		COMBO(bslh, &kp BSLH, LM2 LB2)
		COMBO(tild, &kp GRAVE, LM4 LB4)
		COMBO(tab, &kp TAB, LT1 LT2)
		COMBO(esc, &kp ESC, LT2 LT3)
		COMBO(bspc, &kp BSPC, RT1 RT2)
		COMBO(del, &kp DEL, RT2 RT3)
		COMBO(lpar, &hr_combo_lpar RS(RCTRL) 0, RM1 RM2)
		COMBO(rpar, &hr_combo_rpar RS(RALT) 0, RM2 RM3)
	};
};
