if SHIELD_KB_DONGLE

config ZMK_KEYBOARD_NAME
	default "Kyria"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_USB
	default y

endif

if SHIELD_KB_LEFT || SHIELD_KB_RIGHT || SHIELD_KB_DONGLE

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

endif
